{
    "C_Cpp.default.defines": [
        "PY_MAJOR_VERSION=${py_major_version}",
        "WEBVIEW_${webview_platform}"
    ],
    "C_Cpp.default.includePath": [
        "${python_include_dir}"
    ],
    "python.autoComplete.extraPaths": [
        "${workspaceFolder}${sep}${built_module_dir}"
    ],
    "python.linting.pylintArgs": [
        "--extension-pkg-whitelist=webview"
    ]
}