{
    "C_Cpp.default.defines": [
        "PY_MAJOR_VERSION=${py_major_version}",
        "WEBVIEW_${webview_platform}"
    ],
    "C_Cpp.default.includePath": [
        "${python_include_dir}"
    ],
    "python.autoComplete.extraPaths": [
        "${built_module_dir}"
    ],
    "python.linting.pylintArgs": [
        "--init-hook=import sys; sys.path.insert(0, r'${built_module_dir}')",
        "--extension-pkg-whitelist=webview"
    ]
}